.container {
}

.toggle {
  text-decoration: underline;
  cursor: pointer;

  display: flex;
  justify-content: start;
  align-items: center;
}

.toggle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  margin-right: 5px;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/icons/delete_outline_black_24dp.svg");
}

.toggleActive {
  composes: toggle;
  margin-bottom: 20px;
} 

.toggleInactive {
  composes: toggle;
}

.info {
  margin-bottom: 20px;
}

.deleteBtn {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: lightcoral;
}
